* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
.navbar-expand-lg {
  background-color: #1a1c20;
  margin-bottom: 6%;
}
.nav-link {
  color: #f4f4f4;
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
  padding: 10px 10px;
}
.nav-link:hover {
  box-shadow: inset 0 0 0 4px #f49d1a;
  color: #f4f4f4;
  transition: 1s;
}
body {
  background-color: #1a1c20;
}
.home-page {
  /* width: 80vw;
  margin: auto; */
}
@media screen and (min-width: 368px) and (max-width: 500px) {
  .luke-photo {
    width: 50%;
  }
}

.welcome {
  color: #f4f4f4;
  text-align: center;
}
.intro {
  color: #f4f4f4;
  text-align: center;
}
.luke-photo {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}
.about-me {
  font-size: 1.5rem;
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 10%;
}
.about-me-text {
  font-size: 1.5rem;
  color: #f4f4f4;
}
.about-intro {
  font-size: 2rem;
  color: #f4f4f4;
}
.technology-all {
  margin-bottom: 5%;
}
.tools-lang {
  color: #f4f4f4;
  text-align: center;
  margin-bottom: 5%;
}
.learning-tech {
  color: #f4f4f4;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}
.html-pic {
  width: 35%;
}
.css-pic {
  width: 35%;
}
.learning-description {
  color: #f4f4f4;
  margin-bottom: 5%;
}
.js-pic,
.bootstrap-pic,
.mongodb-pic,
.sql-pic,
.react-pic,
.git-pic {
  width: 50%;
}
.linkedin-pic,
.insta-pic {
  width: 30%;
}
.h2-tech {
  color: #f4f4f4;
  margin-top: 1%;
}
.h2-tech-bootstrap {
  color: #f4f4f4;
  margin-top: 10%;
}
.future-projects {
  color: #f4f4f4;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 2%;
}
.future-projects-description {
  color: #f4f4f4;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2%;
}
.contact-title {
  color: #f4f4f4;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 2%;
}
.message {
  margin-bottom: 10%;
}

.contact-pics {
  margin-top: 5%;
  margin-bottom: 10%;
}
@media screen and (min-width: 368px) and (max-width: 600px) {
  .linkedin {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
